# compiled output
/dist
/dump
/node_modules
/documentation
/docs

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


mongo-backups

/dump
.env
/docker/data/redis/*
/docker/data/redis_insight/*
/deployment/.env
deployment/docker/data/redis_insight/redisinsight.db
